a{
    color: orange;
}

div{
    border: 0.0011cm;
    border-color: red;
    border-style: solid;
}

p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}