h1{
    color:blue;
    font-weight: bold;
}
h3{
    font-style: italic;
    font-weight: bold;
}
p{
    font-weight: bold;
}
#border{
    border: 1px dotted blue;
    width: 100%;
}
#error{
    color: red;
}